{% block content %}
<h1>SHOW DETAILS</h1>
<h1>{{ media.title }}</h1>
<p>{{ media.description }}</p>
<p>Popularity: {{ media.popularity }}</p>
<p>Vote Average: {{ media.vote_average }}</p>
<p>First Air Date: {{ media.release_date }}</p>
<p>Genre: {{ media.genre.name }}</p> 
<img src="https://image.tmdb.org/t/p/w500/{{ media.image }}" alt="{{ media.title }}">

{% if user.is_authenticated %}
    {% if favorites %}
        <form method="post" action="{% url 'remove_media_from_favorites' media_type='tv_show' external_id=media.external_id %}">
            {% csrf_token %}
            <button type="submit">Remove from Favorites</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'add_media_to_favorites' media_type='tv_show' external_id=media.external_id %}">
            {% csrf_token %}
            <button type="submit">Add to Favorites</button>
        </form>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Log in to add to favorites</a></p>
{% endif %}

{% endblock %}




