{% block content %}
    <h1>All Shows</h1>
    <div class="medias-list">
        {% with user.favorite_set.all as favorites %}
            {% for media in medias %}
                <div class="media">
                    <h2>{{ media.title }}</h2>
                    <a href="{% url 'media_details' media.id %}">
                        <img src="https://image.tmdb.org/t/p/w500/{{ media.poster_path }}" alt="{{ media.name }}">
                    </a>
                </div>
            {% empty %}
                <p>No TV shows found.</p>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
